{{!-- directory name should be "views" for hbs(i.e dynamic web pages) and the programm should be runned from root so it can find views folder --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    
    <title>Document</title>
</head>

<body>
     
    <div id = "title">{{title}}</div>
    <div>{{name}}</div>
    {{>header}}
    <form >
        <input  placeholder="Location">
        <button>Search</button>
    </form>
    <p id = "msg-1"></p>
    <p id = "msg-2"></p>
    <script src="js/app.js"></script>
</body>

</html>